.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo p{
    color: #383838;
    font-size: 40px;
    font-weight: 700;
}
.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
}

.footer-links li{
    cursor: pointer;
}
.footer-social-icon{
    display: flex;
    gap: 20px;
}
.footer-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}
.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}
@media (max-width: 768px) {
  .footer {
    padding: 35px 40px;
  }

  .footer-links {
    gap: 20px;
    font-size: 14px;
  }

  .footer-logo {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .footer {
    padding: 30px 20px;
    gap: 20px;
  }

  .footer-logo {
    font-size: 18px;
  }

  .footer-links {
    flex-direction: column;
    gap: 12px;
    font-size: 14px;
    align-items: center;
  }

  .footer-social-icon {
    gap: 15px;
  }

  .footer-icon-container img {
    height: 25px;
  }

  .footer-copyright {
    font-size: 12px;
  }
}
