.bredcrums{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: capitalize;
}
@media (max-width: 480px) {
  .bredcrums {
    font-size: 11px;
    gap: 4px;
    margin: 12px 0;
  }

  .bredcrums img {
    height: 8px;
  }
}
@media (max-width: 768px) {
  .bredcrums {
    font-size: 12px;
    gap: 6px;
  }

  .bredcrums img {
    height: 9px;
  }
}
