.hero{
    height: 100vh;
    background:linear-gradient(180deg,#47fdae,#e1ffea22 60%);
    display: flex;
}
.hero-left{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:80px ;
    
}
.hero-left h2{
    color: #090909;
    font-size: 20px;
    font-weight: 600;
}
.hero-left p{
    color: #171717;
    font-size: 40px;
    font-weight: 700;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 180px;
    height: 30px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .hero-hand-icon {
    justify-content: center;
  }

  .hero-left p {
    font-size: 40px;
  }

  .hero-latest-btn {
    margin: 25px auto 0;
  }

  .hero-right img {
    width: 130px;
    height: 130px;
    margin-top: 30px;
  }
}
@media (max-width: 480px) {
  .hero-left h2 {
    font-size: 20px;
  }

  .hero-left p {
    font-size: 32px;
  }
        
  .hero-right{
      width: 50px;
  }

  .hero-right img {
    width: 100px;
    height: 150px;
    
  }

  .hero-latest-btn {
    padding: 12px 20px;
    font-size: 14px;
  }
  .hero-hand-icon img {
    display: none;
  }

}







