.newsletter{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: 180deg,#fde1ff 0%, #e1ffea22 60%;
    gap: 30px;
}
 
.newsletter h1{
    color: #454545;
    font-size: 35px;
    font-weight: 600;
}
.newsletter p{
    color: #454545;
    font-size: 20px;
}
.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 500px;
    height: 40px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}
.newsletter input{
    width: 360px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-size: 16px;
}
.newsletter div button{
    width: 140px;
    height: 40px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
@media (max-width: 480px) {
  .newsletter {
    padding: 40px 20px;
  }

  .newsletter h1 {
    font-size: 22px;
  }

  .newsletter p {
    font-size: 14px;
  }

  .newsletter div {
    flex-direction: column;
    gap: 12px;
  }

  .newsletter input,
  .newsletter button {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 600px) {
  .newsletter {
    padding: 50px 40px;
  }

  .newsletter h1 {
    font-size: 20px;
  }

  .newsletter input {
    width: 260px;
  }
}
