.offers{
    width: 80%;
    height: 65vh;
    display: flex;
    margin: auto;
    margin-top: 150px;
    padding: 0px 140px;
    margin-bottom: 150px;
    background:linear-gradient(180deg,#e1ffea22, #47fdae 60%);
}
.offers-left{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
    color: #171717;
    font-size: 40px;
}
.offers-left p{
    color: #171717;
    font-size: 16px;
    font-weight: 600;
}

.offers-left button{
    width: 170px;
    height: 25px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
.offers-right img{
    height: 253px;
}
@media(min-width:580px) and (max-width:800px)  {
  .offers {
    flex-direction: column;
    text-align: center;
    padding: 30px 20px;
    /* margin-top: 800px; */
    
    
  }

  .offers-left h1 {
    font-size: 32px;
  }

  .offers-left p {
    font-size: 14px;
  }

  .offers-left button {
    padding: 8px 20px;
    font-size: 12px;
  }

  .offers-right img {
    width: 150px;
    height: 150px;
   
  }
}
@media (max-width:580px) {
  .offers{
    margin-top: 800px;
  }
  .offers-left h1 {
    font-size: 20px;
  }

  .offers-right img {
    width: 100px;
    height: 100px;
  }
}