.relatedproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;

}
.relatedproducts h1{
    color: #171717;
    font-size: 30px;
    font-weight: 600;
}
.relatedproducts hr{
    width: 150px;
    height: 4px;
    border-radius: 10px;
    background: #252525;
}
.relatedproducts-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}


@media(min-width:580px) and (max-width:800px) {
  .relatedproducts {
    padding: 25px 20px;
    margin-bottom: 300px;
  }

  .relatedproducts h1 {
    font-size: 26px;
  }

  .relatedproducts-item {
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 20px;
  }
}
@media (max-width: 580px) {
  .relatedproducts{
    margin-bottom: 700px;
  }
  .relatedproducts h1 {
    font-size: 22px;
  }

  .relatedproducts-item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin-bottom: 400px;
  }
}