
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount+Grid+Double:wght@100..900&family=Caveat:wght@400..700&family=Dosis:wght@200..800&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Macondo&family=Oswald:wght@200..700&family=Playwrite+AU+QLD:wght@100..400&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Distressed&family=Smooch+Sans:wght@100..900&family=Tagesschrift&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 font-family: "Libertinus Serif", serif;
  font-weight: 500;
  font-style: normal;
  overflow-x: hidden;
}