.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
   
    
}
.popular h1{
    color: #171717;
    font-size:25px;
    font-weight: 600;

}
.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.popular-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}
@media(min-width:580px) and (max-width:800px)  {
  .popular {
    padding: 25px 20px;
   margin-bottom: 300px;
    /* display: grid; */
  }

  .popular h1 {
    font-size: 24px;
  }

  .popular-item {
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}
@media (max-width: 580px) {
  .popular h1 {
    font-size: 22px;
  }

  .popular-item {
    flex-direction: column;
    gap: 16px;
  }
}