.cartItems{
    margin-left: 70px;
    width: 80%;
}
.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 30px;
    padding: 10px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartitems-format{
    font-size: 15px;
    font-weight: 500;
}
.carticon-product-icon{
    height: 50px;
}
.cartitems-remove-icon{
    width: 15px;
    margin: 0px 30px;
    cursor: pointer;
}
.cartitems-quantity{
height: 40px;
width: 100px;
}
.cartitems-down{
    display: flex;
    margin: 70px 0px;
}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 30px;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.cartitems-total button{
    width: 250px;
    height: 50px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;

}
.cartitems-promocode p{
    color: #555;
}
.cartitems-promobox{
    width: 300px;
    margin-top: 15px;
    padding-left: 20px;
    height: 50px;
    background: #eaeaea;
}
.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 300px;
    height: 50px;
}

.cartitems-promobox button{
    width: 120px;
    height: 40px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 60px;
}
@media (max-width: 480px) {
  .cartItems {
    padding: 20px;
  }

  .cartitems-format-main {
    grid-template-columns: 1fr 2fr 1fr;
    font-size: 12px;
  }

  .cartitems-format-main p:nth-child(3),
  .cartitems-format-main p:nth-child(4),
  .cartitems-format-main p:nth-child(5),
  .cartitems-format-main p:nth-child(6) {
    display: none;
  }

  .cartItems-format img {
    height: 70px;
  }

  .cartitems-down {
    flex-direction: column;
  }

  .cartitems-total h1 {
    font-size: 18px;
  }

  .cartitems-total button {
    width: 100%;
    font-size: 10px;
  }

  .cartitems-promobox {
    flex-direction: column;
  }

  .cartitems-promobox input,
  .cartitems-promobox button {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .cartItems {
    padding: 30px;
  }

  .cartitems-format-main {
    grid-template-columns: 1fr 2fr 1fr 1fr;
    font-size: 13px;
  }

  .cartItems-format img {
    height: 80px;
  }

  .cartitems-down {
    flex-direction: column;
  }
}
